<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  

  <!--bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="369256255161-ho322qaur93fcr5007a7nhnisat2p1gu.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        document.getElementById("signout").style.display = "block";
        document.getElementById("signin").style.display = "none";

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
      function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
          console.log('User signed out.');
          document.getElementById("signin").style.display = "block";
          document.getElementById("signout").style.display = "none";
        });
      }
    </script>

  <style type="text/css">
  	.mybtn{
  		background-color: #00AAD3;
  		color: white;
  		padding: 5px;
  		border-radius: 30px;
  		width: 150px;
  		height: 40px;
  		box-shadow: 0 2px #999;
  	}
  	.mybtn:hover{
  		color: white;
  		box-shadow: 0 6px #999;
  	}
  	.mysidebar{
  		background-color: #323B3C;
  		border-radius: 5px;
  		padding: 15px;
  		color: white;
  	}
  	.mysidebox{
  		background: #4F5A5B;
  		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 10px;
		border-radius: 20px;
  	}
  </style>


</head>
<body>

	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://127.0.0.1:5000/">Roadlyser</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="active "><a href="#">Home</a></li>
		      <li><a href="http://127.0.0.1:5000/history">History</a></li>
		      <li><a href="http://127.0.0.1:5000/report">Report</a></li>
              
              <li><div class="g-signin2" id="signin" data-onsuccess="onSignIn" style="padding-top:7px; padding-right:5px"></div></li>
              <!-- <li><div class="g-signin2" id="signout" data-name="SignOut" onClick="signOut()" style="padding-top:7px; padding-right:5px;display:none"></div></li> -->
              <li><a href="#" id="signout" onClick="signOut()" style="display:none">Sign Out</a></li>
<!--
		      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
		    </ul>
		  </div>
		</nav>
	</header>
  

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
         
          <div class="jumbotron text-center">
            
          	<p>
          		<label for="file" style="cursor: pointer;">Click Here Upload Image</label>
          	</p>
          	<input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
          	<img id="output" width="500px" height="400px" />
          	<br><br>	
          	<p>
          		<button class="btn mybtn" >Upload</button>
          	</p>

          </div>
 
        </div><!--/span-->



        <div class="col-6 col-md-3 sidebar-offcanvas mysidebar text-center" id="sidebar">
          
          <div class="mysidebox">
          	<label>Fill This Details</label>
          	<hr>
        	<p>
        		<!-- Default input -->
				<label for="location">Location</label>
				<input type="text" id="location" class="form-control">
        	</p>
        	<p>
        		<!-- Default input -->
				<label for="Date">Date</label>
				<input type="text" id="date" class="form-control">
        	</p>
        	<p>
        		<!-- Default input -->
				<label for="author">Author</label>
				<input type="text" id="author" class="form-control">
        	</p>
          </div>
          <div class="mysidebox text-left">
        	<label>We are detection following things</label>
        	<hr>
        	<div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" checked disabled>
			  <label class="custom-control-label" for="defaultCheckedDisabled2">Pothole</label>
			</div>
			<div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" checked disabled>
			  <label class="custom-control-label" for="defaultCheckedDisabled2">Linear Cracking</label>
			</div>
			<div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" checked disabled>
			  <label class="custom-control-label" for="defaultCheckedDisabled2">Alligator Cracking</label>
			</div>
			<div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" checked disabled>
			  <label class="custom-control-label" for="defaultCheckedDisabled2">Block Cracking</label>
			</div>
			<div class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input" checked disabled>
			  <label class="custom-control-label" for="defaultCheckedDisabled2">Edge Cracking</label>
			</div>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

   	

    </div><!--/.container-->


<!-- load the image-->
    <script>
		var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};
	</script>
</body>
</html>
