<!DOCTYPE html>
<html>
<head>
	<title>History</title>
	  <!--bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://127.0.0.1:5000/">PotHole</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">Home</a></li>
		      <li class="active"><a href="http://127.0.0.1:5000/history">History</a></li>
		      <li><a href="http://127.0.0.1:5000/report">Report</a></li>
		    
		      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    </ul>
		  </div>
		</nav>
	</header>

	<div class="container">
		//add your code here
	</div>
</body>
</html>